@import 'src/styles/mixins';

.container {
	@include size(100%, 100%);

	background-color: #222;

	@include flex-align-and-justify(center, center);

	& .user {
		display: flex;
		gap: 1.6rem;

		padding: 1.6rem;

		background-color: #555;
		@include border-rounded(2px, solid, #777, 10px);

		& .avatar {
			border-radius: 50%;
			object-fit: cover;
			@include size(100px, 100px);
		}

		& span {
			display: flex;
			flex-direction: column;
			gap: 0.6rem;

			& .name {
				@include font(700, 3.6rem, 'Rubik', #ab88ff);
			}

			& .login {
				margin-bottom: 0.6rem;
				@include flex-align-and-justify(center);
				gap: 5px;
				@include font(500, 1.6rem, 'Rubik', #bdbdbd);
			}

			& .bio {
				@include font(400, 1.6rem, 'Rubik', #bdbdbd);
			}
		}
	}
}
