// ---------- CONTAINER ----------

@mixin size($width, $height) {
	width: $width;
	height: $height;
}

// ------------ VISUAL -----------

@mixin border-rounded($width, $style, $color, $radius) {
	border: $width $style $color;
	border-radius: $radius;
}

// ---------- TYPOGRAPHY ---------

@mixin font($weight, $size, $family, $color: #000) {
	font: $weight $size $family;
	color: $color;
}

// ----------- FLEXBOX -----------

@mixin flex-align-and-justify(
	$align-items: flex-start,
	$justify-content: flex-start
) {
	display: flex;
	align-items: $align-items;
	justify-content: $justify-content;
}
